@model virdbApp2.Models.audit

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>audit</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.owner, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.owner)
                @Html.ValidationMessageFor(model => model.owner)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.field_name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.field_name)
                @Html.ValidationMessageFor(model => model.field_name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.old_value, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.old_value)
                @Html.ValidationMessageFor(model => model.old_value)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.new_value, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.new_value)
                @Html.ValidationMessageFor(model => model.new_value)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.action_date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.action_date)
                @Html.ValidationMessageFor(model => model.action_date)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
